 /* Add any additional CSS styles for the registration page */
 body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 600px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="email"], /* Apply the same styling to the email input */
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

/* Style for error messages */
.error-message {
    color: #ff0000;
    margin-top: 10px;
}